In [1]:
import pandas as pd

# Load the data
listings = pd.read_csv('data/listings.csv')
calendar = pd.read_csv('data/calendar.csv')
reviews = pd.read_csv('data/reviews.csv')

In [2]:
# Display the first few rows
print("Listings Dataset:")
display(listings.head())

Listings Dataset:

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [3]:
print("\nCalendar Dataset:")
display(calendar.head())

Calendar Dataset:

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [4]:
print("\nReviews Dataset:")
display(reviews.head())

Reviews Dataset:

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [5]:
print("Listings Info:")
listings.info()

Listings Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [6]:
print("\nCalendar Info:")
calendar.info()

Calendar Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [7]:
print("\nReviews Info:")
reviews.info()

Reviews Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [8]:
# Method to Print the Percentage of missing values in each dataset
def missing_values_summary(df, dataset_name):
    missing = df.isnull().sum()
    percentage = (missing / len(df)) * 100
    return pd.DataFrame({'Missing Count': missing, 'Percentage': percentage}).sort_values(by='Percentage', ascending=False)

In [9]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
license                                    3818  100.000000
square_feet                                3721   97.459403
monthly_price                              2301   60.267156
security_deposit                           1952   51.126244
weekly_price                               1809   47.380828
...                                         ...         ...
jurisdiction_names                            0    0.000000
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000

[92 rows x 2 columns]

In [13]:
# Drop the 'license' column because it is 100% missing values
listings = listings.drop(columns=['license'])
# Save the changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [14]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
square_feet                                3721   97.459403
monthly_price                              2301   60.267156
security_deposit                           1952   51.126244
weekly_price                               1809   47.380828
notes                                      1606   42.063908
...                                         ...         ...
jurisdiction_names                            0    0.000000
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000

[91 rows x 2 columns]

In [15]:
# Drop the 'square_feet' column
listings = listings.drop(columns=['square_feet'])

# Save the changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [16]:
listings['monthly_price'] = listings['monthly_price'].astype(str)
listings['weekly_price'] = listings['weekly_price'].astype(str)

In [17]:
listings['monthly_price'] = listings['monthly_price'].str.replace(r'[\$,]', '', regex=True)
listings['weekly_price'] = listings['weekly_price'].str.replace(r'[\$,]', '', regex=True)

In [18]:
listings['monthly_price'] = pd.to_numeric(listings['monthly_price'], errors='coerce')
listings['weekly_price'] = pd.to_numeric(listings['weekly_price'], errors='coerce')

In [19]:
# Fill missing values with the mean
listings['monthly_price'] = listings['monthly_price'].fillna(listings['monthly_price'].mean())
listings['weekly_price'] = listings['weekly_price'].fillna(listings['weekly_price'].mean())

In [20]:
# Save the changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [21]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
security_deposit                           1952   51.126244
notes                                      1606   42.063908
neighborhood_overview                      1032   27.029859
cleaning_fee                               1030   26.977475
transit                                     934   24.463070
...                                         ...         ...
jurisdiction_names                            0    0.000000
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000

[90 rows x 2 columns]

In [22]:
# Fill missing values with 0
listings['security_deposit'] = listings['security_deposit'].fillna(0)

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [23]:
# Fill missing values in 'notes' with 'No notes'
listings['notes'] = listings['notes'].fillna("None")

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [24]:
# Fill missing values in 'neighborhood_overview' with 'None'
listings['neighborhood_overview'] = listings['neighborhood_overview'].fillna("None")

# Save the changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [26]:
# Ensure 'cleaning_fee' is a string for cleaning
listings['cleaning_fee'] = listings['cleaning_fee'].astype(str)

# Remove dollar signs and commas
listings['cleaning_fee'] = listings['cleaning_fee'].str.replace(r'[\$,]', '', regex=True)

In [27]:
listings['cleaning_fee'] = pd.to_numeric(listings['cleaning_fee'], errors='coerce')

In [28]:
listings['cleaning_fee'] = listings['cleaning_fee'].fillna(listings['cleaning_fee'].median())

In [29]:
listings.to_csv('data/listings.csv', index=False)

In [30]:
# Fill missing values in 'transit' with 'None'
listings['transit'] = listings['transit'].fillna("None")

In [31]:

# Save the changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [32]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
host_about                                  859   22.498690
host_acceptance_rate                        773   20.246202
review_scores_checkin                       658   17.234154
review_scores_accuracy                      658   17.234154
review_scores_value                         656   17.181771
...                                         ...         ...
jurisdiction_names                            0    0.000000
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000

[90 rows x 2 columns]

In [33]:
# Fill missing values in 'host_about' with 'None'
listings['host_about'] = listings['host_about'].fillna("None")

# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [34]:
# Clean and convert 'host_acceptance_rate' to numeric
listings['host_acceptance_rate'] = listings['host_acceptance_rate'].str.replace('%', '').astype(float)

# Fill missing values with the median
listings['host_acceptance_rate'] = listings['host_acceptance_rate'].fillna(listings['host_acceptance_rate'].median())

# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [35]:
# Fill missing values in review score columns with their medians
columns_to_impute = ['review_scores_checkin', 'review_scores_accuracy', 'review_scores_value']
for col in columns_to_impute:
    listings[col] = listings[col].fillna(listings[col].median())

# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [36]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
review_scores_location                      655   17.155579
review_scores_cleanliness                   653   17.103195
review_scores_communication                 651   17.050812
review_scores_rating                        647   16.946045
reviews_per_month                           627   16.422211
...                                         ...         ...
jurisdiction_names                            0    0.000000
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000

[90 rows x 2 columns]

In [37]:
columns_to_impute_median = [
    'review_scores_location',
    'review_scores_cleanliness',
    'review_scores_communication',
    'review_scores_rating'
]

for col in columns_to_impute_median:
    listings[col] = listings[col].fillna(listings[col].median())

# Fill 'reviews_per_month' with 0
listings['reviews_per_month'] = listings['reviews_per_month'].fillna(0)

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [38]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
first_review                                627   16.422211
last_review                                 627   16.422211
space                                       569   14.903091
host_response_time                          523   13.698271
host_response_rate                          523   13.698271
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[90 rows x 2 columns]

In [39]:
# Fill missing values in 'first_review' and 'last_review' with 'No Review'
listings['first_review'] = listings['first_review'].fillna("No Review")
listings['last_review'] = listings['last_review'].fillna("No Review")

In [40]:
# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [41]:
# Fill missing values in 'space' with 'None'
listings['space'] = listings['space'].fillna("None")

In [42]:
# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [43]:
# Impute missing values in 'host_response_time' with the mode
response_time_mode = listings['host_response_time'].mode()[0]
listings['host_response_time'] = listings['host_response_time'].fillna(response_time_mode)

In [44]:
listings.to_csv('data/listings.csv', index=False)

In [45]:
# Clean and convert 'host_response_rate' to numeric
listings['host_response_rate'] = listings['host_response_rate'].str.replace('%', '').astype(float)

In [46]:
# Impute missing values with the median
listings['host_response_rate'] = listings['host_response_rate'].fillna(listings['host_response_rate'].median())

In [47]:
# Save the changes
listings.to_csv('data/listings.csv', index=False)

In [48]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
neighbourhood                               416   10.895757
thumbnail_url                               320    8.381351
xl_picture_url                              320    8.381351
medium_url                                  320    8.381351
host_neighbourhood                          300    7.857517
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[90 rows x 2 columns]

In [49]:
# Fill missing values in 'neighbourhood' with 'Unknown'
listings['neighbourhood'] = listings['neighbourhood'].fillna("Unknown")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [50]:
# Drop the picture URL columns
listings = listings.drop(columns=['thumbnail_url', 'xl_picture_url', 'medium_url'])

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [51]:
# Fill missing values in 'host_neighbourhood' with 'Unknown'
listings['host_neighbourhood'] = listings['host_neighbourhood'].fillna("Unknown")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [52]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
summary                                     177    4.635935
bathrooms                                    16    0.419068
host_location                                 8    0.209534
zipcode                                       7    0.183342
bedrooms                                      6    0.157150
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[87 rows x 2 columns]

In [53]:
# Fill missing values in 'summary' with 'None'
listings['summary'] = listings['summary'].fillna("None")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [54]:
# Fill missing values in 'bathrooms' with the median
listings['bathrooms'] = listings['bathrooms'].fillna(listings['bathrooms'].median())

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [55]:
# Fill missing values in 'host_location' with 'Unknown'
listings['host_location'] = listings['host_location'].fillna("Unknown")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [56]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
zipcode                                       7    0.183342
bedrooms                                      6    0.157150
host_name                                     2    0.052383
host_thumbnail_url                            2    0.052383
host_listings_count                           2    0.052383
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[87 rows x 2 columns]

In [57]:
# Replace missing values in 'zipcode' with 'None'
listings['zipcode'] = listings['zipcode'].fillna("None")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [58]:
# Fill missing values in 'bedrooms' with the median
listings['bedrooms'] = listings['bedrooms'].fillna(listings['bedrooms'].median())

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [59]:
# Fill missing values in 'host_name' with 'Unknown'
listings['host_name'] = listings['host_name'].fillna("Unknown")

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [60]:
# Drop the 'host_thumbnail_url' column
listings = listings.drop(columns=['host_thumbnail_url'])

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [61]:
# Drop the 'host_thumbnail_url' column
listings = listings.drop(columns=['host_listings_count'])

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [62]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
host_since                                    2    0.052383
host_total_listings_count                     2    0.052383
host_verifications                            2    0.052383
host_picture_url                              2    0.052383
host_is_superhost                             2    0.052383
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[85 rows x 2 columns]

In [63]:
# Fill missing values in 'host_since' with 'Unknown'
listings['host_since'] = listings['host_since'].fillna("Unknown")

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [64]:
# Fill missing values in 'host_total_listings_count' with the median
listings['host_total_listings_count'] = listings['host_total_listings_count'].fillna(listings['host_total_listings_count'].median())

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [65]:
# Fill missing values in 'host_verifications' with 'None'
listings['host_verifications'] = listings['host_verifications'].fillna("None")

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [66]:
# Fill missing values in 'host_picture_url' with 'No URL'
listings['host_picture_url'] = listings['host_picture_url'].fillna("No URL")

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [67]:
# Fill missing values in 'host_is_superhost' with 'f'
listings['host_is_superhost'] = listings['host_is_superhost'].fillna('f')

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [68]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
host_has_profile_pic                          2    0.052383
host_identity_verified                        2    0.052383
beds                                          1    0.026192
property_type                                 1    0.026192
id                                            0    0.000000
...                                         ...         ...
cancellation_policy                           0    0.000000
require_guest_profile_picture                 0    0.000000
require_guest_phone_verification              0    0.000000
calculated_host_listings_count                0    0.000000
reviews_per_month                             0    0.000000

[85 rows x 2 columns]

In [69]:
# Fill missing values in 'host_has_profile_pic' with 'f'
listings['host_has_profile_pic'] = listings['host_has_profile_pic'].fillna('f')

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [70]:
# Fill missing values in 'host_identity_verified' with 'f'
listings['host_identity_verified'] = listings['host_identity_verified'].fillna('f')

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [71]:
# Fill missing values in 'beds' with the median
listings['beds'] = listings['beds'].fillna(listings['beds'].median())

# Save changes
listings.to_csv('data/listings.csv', index=False)

In [72]:
# Find the mode (most frequent value) of 'property_type'
property_type_mode = listings['property_type'].mode()[0]

# Fill missing values in 'property_type' with the mode
listings['property_type'] = listings['property_type'].fillna(property_type_mode)

# Save changes to the dataset
listings.to_csv('data/listings.csv', index=False)

In [73]:
# Listings dataset before cleaning
missing_summary = missing_values_summary(listings, "Listings")
print(missing_summary)

                                  Missing Count  Percentage
id                                            0         0.0
listing_url                                   0         0.0
scrape_id                                     0         0.0
last_scraped                                  0         0.0
name                                          0         0.0
...                                         ...         ...
cancellation_policy                           0         0.0
require_guest_profile_picture                 0         0.0
require_guest_phone_verification              0         0.0
calculated_host_listings_count                0         0.0
reviews_per_month                             0         0.0

[85 rows x 2 columns]

In [74]:
# Check for missing values in the listings dataset
missing_summary = listings.isnull().sum()

# Display columns with missing values
print("Columns with Missing Values:")
print(missing_summary[missing_summary > 0])

Columns with Missing Values:
Series([], dtype: int64)

In [75]:
# Calendar dataset before cleaning
missing_summary = missing_values_summary(calendar, "Calendar")
print(missing_summary)

            Missing Count  Percentage
price              459028   32.938998
listing_id              0    0.000000
date                    0    0.000000
available               0    0.000000

In [76]:
calendar = calendar.merge(listings[['id', 'price']], how='left', left_on='listing_id', right_on='id')
calendar['price'] = calendar['price_x'].fillna(calendar['price_y'])
calendar = calendar.drop(columns=['price_x', 'price_y', 'id'])

In [77]:
# Calendar dataset before cleaning
missing_summary = missing_values_summary(calendar, "Calendar")
print(missing_summary)

            Missing Count  Percentage
listing_id              0         0.0
date                    0         0.0
available               0         0.0
price                   0         0.0

In [78]:
# Reviews dataset before cleaning
missing_summary = missing_values_summary(reviews, "Reviews")
print(missing_summary)

               Missing Count  Percentage
comments                  18    0.021214
listing_id                 0    0.000000
id                         0    0.000000
date                       0    0.000000
reviewer_id                0    0.000000
reviewer_name              0    0.000000

In [80]:
# Fill missing values in 'comments' with 'None'
reviews['comments'] = reviews['comments'].fillna("None")

# Save changes to the dataset
reviews.to_csv('data/reviews.csv', index=False)

In [81]:
# Reviews dataset before cleaning
missing_summary = missing_values_summary(reviews, "Reviews")
print(missing_summary)

               Missing Count  Percentage
listing_id                 0         0.0
id                         0         0.0
date                       0         0.0
reviewer_id                0         0.0
reviewer_name              0         0.0
comments                   0         0.0